* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.block_main {
    width: 1440px;
    background: #FFF;
    padding-top: 139px;
    padding-bottom: 92px;
    font-size: 24px;
}

.block_1, .block_2 {
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    font-family: "First Roboto", sans-serif;
}

.block_1 {
    min-height: 250px;
    background: #1F0404;
    margin-bottom: 40px;
    font-size: 2em;
    text-align: center;
    padding: 69px 215px;
    text-transform: uppercase;
    font-weight: 700;

}

.block_2 {
    min-height: 503px;
    background: #D9D9D9;
    padding: 47px 75px 47px 104px;
    text-align: justify;
    font-size: 1em;
    line-height: 36px;
    font-weight: 600;
    color: #4F4F4F;
    text-shadow: 7px 7px 1px rgba(41, 36, 9, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#letter_1 {
    color: rgba(113, 170, 115, 0.70);
}

#letter_2 {
    color: rgba(163, 72, 72, 0.60);
}

#letter_3 {
    color: #475587;
}

#letter_4 {
    color: #4B5E8D;
}

#letter_5 {
    color: rgba(178, 159, 109, 0.50);
}

#letter_6 {
    color: rgba(170, 144, 113, 0.40);
}

#letter_7 {
    color: rgba(112, 72, 163, 0.50);
}

#letter_8 {
    color: #874775;
}

#letter_9 {
    color: #8D4B63;
}

#letter_10 {
    color: rgba(109, 178, 162, 0.60);
}

.row_1 {
    letter-spacing: 76px;
}

.row_2 {
    letter-spacing: 71px;
}


